<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>MonusSelected1.png</key>
		<dict>
			<key>x</key>
			<integer>299</integer>
			<key>y</key>
			<integer>187</integer>
			<key>width</key>
			<integer>146</integer>
			<key>height</key>
			<integer>171</integer>
			<key>offsetX</key>
			<real>-9.5</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<integer>165</integer>
			<key>originalHeight</key>
			<integer>185</integer>
		</dict>
		<key>MonusSelected2.png</key>
		<dict>
			<key>x</key>
			<integer>299</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>165</integer>
			<key>height</key>
			<integer>185</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>165</integer>
			<key>originalHeight</key>
			<integer>185</integer>
		</dict>
		<key>MonusUnselected.png</key>
		<dict>
			<key>x</key>
			<integer>153</integer>
			<key>y</key>
			<integer>177</integer>
			<key>width</key>
			<integer>145</integer>
			<key>height</key>
			<integer>171</integer>
			<key>offsetX</key>
			<real>-10</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<integer>165</integer>
			<key>originalHeight</key>
			<integer>185</integer>
		</dict>
		<key>SapusSelected1.png</key>
		<dict>
			<key>x</key>
			<integer>153</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>129</integer>
			<key>height</key>
			<integer>175</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>169</integer>
			<key>originalHeight</key>
			<integer>199</integer>
		</dict>
		<key>SapusSelected2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>177</integer>
			<key>width</key>
			<integer>151</integer>
			<key>height</key>
			<integer>190</integer>
			<key>offsetX</key>
			<real>-6</real>
			<key>offsetY</key>
			<real>2.5</real>
			<key>originalWidth</key>
			<integer>169</integer>
			<key>originalHeight</key>
			<integer>199</integer>
		</dict>
		<key>SapusUnselected.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>129</integer>
			<key>height</key>
			<integer>175</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>169</integer>
			<key>originalHeight</key>
			<integer>199</integer>
		</dict>
	</dict>
</dict>
</plist>