<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>MonusSelected1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>297</integer>
			<key>height</key>
			<integer>346</integer>
			<key>offsetX</key>
			<real>-16.5</real>
			<key>offsetY</key>
			<real>-11</real>
			<key>originalWidth</key>
			<integer>330</integer>
			<key>originalHeight</key>
			<integer>370</integer>
		</dict>
		<key>MonusSelected2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>348</integer>
			<key>width</key>
			<integer>330</integer>
			<key>height</key>
			<integer>369</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>330</integer>
			<key>originalHeight</key>
			<integer>370</integer>
		</dict>
		<key>MonusUnselected.png</key>
		<dict>
			<key>x</key>
			<integer>332</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>293</integer>
			<key>height</key>
			<integer>345</integer>
			<key>offsetX</key>
			<real>-18.5</real>
			<key>offsetY</key>
			<real>-12.5</real>
			<key>originalWidth</key>
			<integer>330</integer>
			<key>originalHeight</key>
			<integer>370</integer>
		</dict>
		<key>SapusSelected1.png</key>
		<dict>
			<key>x</key>
			<integer>332</integer>
			<key>y</key>
			<integer>347</integer>
			<key>width</key>
			<integer>262</integer>
			<key>height</key>
			<integer>358</integer>
			<key>offsetX</key>
			<real>9</real>
			<key>offsetY</key>
			<real>-11</real>
			<key>originalWidth</key>
			<integer>338</integer>
			<key>originalHeight</key>
			<integer>398</integer>
		</dict>
		<key>SapusSelected2.png</key>
		<dict>
			<key>x</key>
			<integer>626</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>309</integer>
			<key>height</key>
			<integer>387</integer>
			<key>offsetX</key>
			<real>-14.5</real>
			<key>offsetY</key>
			<real>5.5</real>
			<key>originalWidth</key>
			<integer>338</integer>
			<key>originalHeight</key>
			<integer>398</integer>
		</dict>
		<key>SapusUnselected.png</key>
		<dict>
			<key>x</key>
			<integer>626</integer>
			<key>y</key>
			<integer>389</integer>
			<key>width</key>
			<integer>264</integer>
			<key>height</key>
			<integer>356</integer>
			<key>offsetX</key>
			<real>8</real>
			<key>offsetY</key>
			<real>-10</real>
			<key>originalWidth</key>
			<integer>338</integer>
			<key>originalHeight</key>
			<integer>398</integer>
		</dict>
	</dict>
</dict>
</plist>