<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>MonusSelected1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 28}, {292, 342}}</string>
			<key>spriteOffset</key>
			<string>{-17, -14}</string>
			<key>spriteSize</key>
			<string>{292, 342}</string>
			<key>spriteSourceSize</key>
			<string>{330, 370}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{604, 2}, {292, 342}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MonusSelected2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {328, 366}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{328, 366}</string>
			<key>spriteSourceSize</key>
			<string>{330, 370}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {328, 366}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MonusUnselected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 28}, {290, 342}}</string>
			<key>spriteOffset</key>
			<string>{-19, -14}</string>
			<key>spriteSize</key>
			<string>{290, 342}</string>
			<key>spriteSourceSize</key>
			<string>{330, 370}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{604, 346}, {290, 342}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SapusSelected1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{79, 0}, {270, 365}}</string>
			<key>spriteOffset</key>
			<string>{15, -0}</string>
			<key>spriteSize</key>
			<string>{270, 365}</string>
			<key>spriteSourceSize</key>
			<string>{398, 365}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{304, 370}, {270, 365}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SapusSelected2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{48, 0}, {300, 365}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{300, 365}</string>
			<key>spriteSourceSize</key>
			<string>{398, 365}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 370}, {300, 365}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SapusUnselected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{79, 1}, {270, 363}}</string>
			<key>spriteOffset</key>
			<string>{15, -0}</string>
			<key>spriteSize</key>
			<string>{270, 363}</string>
			<key>spriteSourceSize</key>
			<string>{398, 365}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{332, 2}, {270, 363}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>