<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>btn-about-normal.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>124</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>42</integer>
		</dict>
		<key>btn-about-selected.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>44</integer>
			<key>width</key>
			<integer>124</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>42</integer>
		</dict>
		<key>btn-buy-normal.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>87</integer>
			<key>width</key>
			<integer>99</integer>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>73</integer>
		</dict>
		<key>btn-buy-sapus-normal.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>160</integer>
			<key>width</key>
			<integer>124</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>42</integer>
		</dict>
		<key>btn-buy-sapus-selected.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>203</integer>
			<key>width</key>
			<integer>124</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>42</integer>
		</dict>
		<key>btn-buy-selected.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>246</integer>
			<key>width</key>
			<integer>99</integer>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>73</integer>
		</dict>
		<key>btn-continue-normal.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>319</integer>
			<key>width</key>
			<integer>124</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>42</integer>
		</dict>
		<key>btn-continue-selected.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>362</integer>
			<key>width</key>
			<integer>124</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>42</integer>
		</dict>
		<key>btn-country-normal.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>405</integer>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>36</integer>
		</dict>
		<key>btn-country-selected.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>442</integer>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>36</integer>
		</dict>
		<key>btn-global_scores-normal.png</key>
		<dict>
			<key>x</key>
			<integer>126</integer>
			<key>y</key>
			<integer>75</integer>
			<key>width</key>
			<integer>115</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>115</integer>
			<key>originalHeight</key>
			<integer>36</integer>
		</dict>
		<key>btn-global_scores-selected.png</key>
		<dict>
			<key>x</key>
			<integer>126</integer>
			<key>y</key>
			<integer>112</integer>
			<key>width</key>
			<integer>115</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>115</integer>
			<key>originalHeight</key>
			<integer>36</integer>
		</dict>
		<key>btn-highscores-normal.png</key>
		<dict>
			<key>x</key>
			<integer>126</integer>
			<key>y</key>
			<integer>149</integer>
			<key>width</key>
			<integer>124</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>42</integer>
		</dict>
		<key>btn-highscores-selected.png</key>
		<dict>
			<key>x</key>
			<integer>126</integer>
			<key>y</key>
			<integer>192</integer>
			<key>width</key>
			<integer>124</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>42</integer>
		</dict>
		<key>btn-instructions-normal.png</key>
		<dict>
			<key>x</key>
			<integer>126</integer>
			<key>y</key>
			<integer>235</integer>
			<key>width</key>
			<integer>124</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>42</integer>
		</dict>
		<key>btn-instructions-selected.png</key>
		<dict>
			<key>x</key>
			<integer>126</integer>
			<key>y</key>
			<integer>278</integer>
			<key>width</key>
			<integer>124</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>42</integer>
		</dict>
		<key>btn-menu-normal.png</key>
		<dict>
			<key>x</key>
			<integer>126</integer>
			<key>y</key>
			<integer>321</integer>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>36</integer>
		</dict>
		<key>btn-menu-selected.png</key>
		<dict>
			<key>x</key>
			<integer>126</integer>
			<key>y</key>
			<integer>358</integer>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>36</integer>
		</dict>
		<key>btn-menubig-normal.png</key>
		<dict>
			<key>x</key>
			<integer>126</integer>
			<key>y</key>
			<integer>395</integer>
			<key>width</key>
			<integer>124</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>42</integer>
		</dict>
		<key>btn-menubig-selected.png</key>
		<dict>
			<key>x</key>
			<integer>126</integer>
			<key>y</key>
			<integer>438</integer>
			<key>width</key>
			<integer>124</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>42</integer>
		</dict>
		<key>btn-menumed-normal.png</key>
		<dict>
			<key>x</key>
			<integer>251</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>115</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>115</integer>
			<key>originalHeight</key>
			<integer>36</integer>
		</dict>
		<key>btn-menumed-selected.png</key>
		<dict>
			<key>x</key>
			<integer>251</integer>
			<key>y</key>
			<integer>38</integer>
			<key>width</key>
			<integer>115</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>115</integer>
			<key>originalHeight</key>
			<integer>36</integer>
		</dict>
		<key>btn-music-off.png</key>
		<dict>
			<key>x</key>
			<integer>251</integer>
			<key>y</key>
			<integer>75</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>36</integer>
			<key>originalHeight</key>
			<integer>36</integer>
		</dict>
		<key>btn-music-on.png</key>
		<dict>
			<key>x</key>
			<integer>251</integer>
			<key>y</key>
			<integer>112</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>36</integer>
			<key>originalHeight</key>
			<integer>36</integer>
		</dict>
		<key>btn-music-pressed.png</key>
		<dict>
			<key>x</key>
			<integer>251</integer>
			<key>y</key>
			<integer>149</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>36</integer>
			<key>originalHeight</key>
			<integer>36</integer>
		</dict>
		<key>btn-my_scores-normal.png</key>
		<dict>
			<key>x</key>
			<integer>251</integer>
			<key>y</key>
			<integer>186</integer>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>36</integer>
		</dict>
		<key>btn-my_scores-selected.png</key>
		<dict>
			<key>x</key>
			<integer>251</integer>
			<key>y</key>
			<integer>223</integer>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>36</integer>
		</dict>
		<key>btn-pause-normal.png</key>
		<dict>
			<key>x</key>
			<integer>251</integer>
			<key>y</key>
			<integer>260</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>36</integer>
			<key>originalHeight</key>
			<integer>36</integer>
		</dict>
		<key>btn-pause-selected.png</key>
		<dict>
			<key>x</key>
			<integer>251</integer>
			<key>y</key>
			<integer>297</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>36</integer>
			<key>originalHeight</key>
			<integer>36</integer>
		</dict>
		<key>btn-play-normal.png</key>
		<dict>
			<key>x</key>
			<integer>251</integer>
			<key>y</key>
			<integer>334</integer>
			<key>width</key>
			<integer>124</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>42</integer>
		</dict>
		<key>btn-play-selected.png</key>
		<dict>
			<key>x</key>
			<integer>251</integer>
			<key>y</key>
			<integer>377</integer>
			<key>width</key>
			<integer>124</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>42</integer>
		</dict>
		<key>btn-playagain-normal.png</key>
		<dict>
			<key>x</key>
			<integer>251</integer>
			<key>y</key>
			<integer>420</integer>
			<key>width</key>
			<integer>115</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>115</integer>
			<key>originalHeight</key>
			<integer>36</integer>
		</dict>
		<key>btn-playagain-selected.png</key>
		<dict>
			<key>x</key>
			<integer>251</integer>
			<key>y</key>
			<integer>457</integer>
			<key>width</key>
			<integer>115</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>115</integer>
			<key>originalHeight</key>
			<integer>36</integer>
		</dict>
		<key>btn-save-normal.png</key>
		<dict>
			<key>x</key>
			<integer>376</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>124</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>42</integer>
		</dict>
		<key>btn-save-selected.png</key>
		<dict>
			<key>x</key>
			<integer>376</integer>
			<key>y</key>
			<integer>44</integer>
			<key>width</key>
			<integer>124</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>42</integer>
		</dict>
		<key>btn-start-normal.png</key>
		<dict>
			<key>x</key>
			<integer>376</integer>
			<key>y</key>
			<integer>87</integer>
			<key>width</key>
			<integer>91</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>42</integer>
		</dict>
		<key>btn-start-selected.png</key>
		<dict>
			<key>x</key>
			<integer>376</integer>
			<key>y</key>
			<integer>118</integer>
			<key>width</key>
			<integer>91</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>42</integer>
		</dict>
		<key>btn-tryagain-normal.png</key>
		<dict>
			<key>x</key>
			<integer>376</integer>
			<key>y</key>
			<integer>149</integer>
			<key>width</key>
			<integer>124</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>42</integer>
		</dict>
		<key>btn-tryagain-selected.png</key>
		<dict>
			<key>x</key>
			<integer>376</integer>
			<key>y</key>
			<integer>192</integer>
			<key>width</key>
			<integer>124</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>42</integer>
		</dict>
		<key>btn-viewvideo-normal.png</key>
		<dict>
			<key>x</key>
			<integer>376</integer>
			<key>y</key>
			<integer>235</integer>
			<key>width</key>
			<integer>115</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>115</integer>
			<key>originalHeight</key>
			<integer>36</integer>
		</dict>
		<key>btn-viewvideo-selected.png</key>
		<dict>
			<key>x</key>
			<integer>376</integer>
			<key>y</key>
			<integer>272</integer>
			<key>width</key>
			<integer>115</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>115</integer>
			<key>originalHeight</key>
			<integer>36</integer>
		</dict>
		<key>btn-world-normal.png</key>
		<dict>
			<key>x</key>
			<integer>376</integer>
			<key>y</key>
			<integer>309</integer>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>36</integer>
		</dict>
		<key>btn-world-selected.png</key>
		<dict>
			<key>x</key>
			<integer>376</integer>
			<key>y</key>
			<integer>346</integer>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>36</integer>
		</dict>
		<key>btn-game_center-normal.png</key>
		<dict>
			<key>x</key>
			<integer>126</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>42</integer>
		</dict>
		<key>btn-game_center-selected.png</key>
		<dict>
			<key>x</key>
			<integer>126</integer>
			<key>y</key>
			<integer>38</integer>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>42</integer>
		</dict>
	</dict>
</dict>
</plist>