<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>btn-about-normal.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {248, 84}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{248, 84}</string>
			<key>spriteSourceSize</key>
			<string>{250, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{252, 88}, {248, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-about-selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {248, 84}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{248, 84}</string>
			<key>spriteSourceSize</key>
			<string>{250, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{452, 174}, {248, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-buy-normal.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {198, 144}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{198, 144}</string>
			<key>spriteSourceSize</key>
			<string>{200, 146}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 320}, {198, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-buy-sapus-normal.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {248, 84}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{248, 84}</string>
			<key>spriteSourceSize</key>
			<string>{250, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 346}, {248, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-buy-sapus-selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {248, 84}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{248, 84}</string>
			<key>spriteSourceSize</key>
			<string>{250, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 260}, {248, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-buy-selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {198, 144}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{198, 144}</string>
			<key>spriteSourceSize</key>
			<string>{200, 146}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 174}, {198, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-continue-normal.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {248, 84}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{248, 84}</string>
			<key>spriteSourceSize</key>
			<string>{250, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{502, 2}, {248, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-continue-selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {248, 84}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{248, 84}</string>
			<key>spriteSourceSize</key>
			<string>{250, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{252, 2}, {248, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-country-normal.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{192, 72}</string>
			<key>spriteSourceSize</key>
			<string>{192, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{466, 506}, {192, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-country-selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{192, 72}</string>
			<key>spriteSourceSize</key>
			<string>{192, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{428, 626}, {192, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-game_center-normal.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{26, 6}, {192, 72}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{192, 72}</string>
			<key>spriteSourceSize</key>
			<string>{250, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{234, 700}, {192, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-game_center-selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{26, 6}, {192, 72}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{192, 72}</string>
			<key>spriteSourceSize</key>
			<string>{250, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{234, 848}, {192, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-global_scores-normal.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {230, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{230, 72}</string>
			<key>spriteSourceSize</key>
			<string>{230, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{234, 552}, {230, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-global_scores-selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {230, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{230, 72}</string>
			<key>spriteSourceSize</key>
			<string>{230, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 700}, {230, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-highscores-normal.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {248, 84}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{248, 84}</string>
			<key>spriteSourceSize</key>
			<string>{250, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {248, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-highscores-selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {248, 84}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{248, 84}</string>
			<key>spriteSourceSize</key>
			<string>{250, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{702, 346}, {248, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-instructions-normal.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {248, 84}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{248, 84}</string>
			<key>spriteSourceSize</key>
			<string>{250, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{452, 260}, {248, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-instructions-selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {248, 84}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{248, 84}</string>
			<key>spriteSourceSize</key>
			<string>{250, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 174}, {248, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-menu-normal.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{192, 72}</string>
			<key>spriteSourceSize</key>
			<string>{192, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 432}, {192, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-menu-selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{192, 72}</string>
			<key>spriteSourceSize</key>
			<string>{192, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{660, 506}, {192, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-menubig-normal.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {248, 84}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{248, 84}</string>
			<key>spriteSourceSize</key>
			<string>{250, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{752, 88}, {248, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-menubig-selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {248, 84}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{248, 84}</string>
			<key>spriteSourceSize</key>
			<string>{250, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 88}, {248, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-menumed-normal.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {230, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{230, 72}</string>
			<key>spriteSourceSize</key>
			<string>{230, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 848}, {230, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-menumed-selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {230, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{230, 72}</string>
			<key>spriteSourceSize</key>
			<string>{230, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 626}, {230, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-music-off.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 72}</string>
			<key>spriteSourceSize</key>
			<string>{72, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{946, 432}, {72, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-music-on.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 72}</string>
			<key>spriteSourceSize</key>
			<string>{72, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{872, 432}, {72, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-music-pressed.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 72}</string>
			<key>spriteSourceSize</key>
			<string>{72, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{928, 506}, {72, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-my_scores-normal.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{192, 72}</string>
			<key>spriteSourceSize</key>
			<string>{192, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{234, 626}, {192, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-my_scores-selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{192, 72}</string>
			<key>spriteSourceSize</key>
			<string>{192, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{234, 922}, {192, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-pause-normal.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 72}</string>
			<key>spriteSourceSize</key>
			<string>{72, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{854, 506}, {72, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-pause-selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 72}</string>
			<key>spriteSourceSize</key>
			<string>{72, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{428, 700}, {72, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-play-normal.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {248, 84}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{248, 84}</string>
			<key>spriteSourceSize</key>
			<string>{250, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{452, 346}, {248, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-play-selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {248, 84}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{248, 84}</string>
			<key>spriteSourceSize</key>
			<string>{250, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 466}, {248, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-playagain-normal.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {230, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{230, 72}</string>
			<key>spriteSourceSize</key>
			<string>{230, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 552}, {230, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-playagain-selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {230, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{230, 72}</string>
			<key>spriteSourceSize</key>
			<string>{230, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 922}, {230, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-save-normal.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {248, 84}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{248, 84}</string>
			<key>spriteSourceSize</key>
			<string>{250, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{702, 260}, {248, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-save-selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {248, 84}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{248, 84}</string>
			<key>spriteSourceSize</key>
			<string>{250, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{702, 174}, {248, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-start-normal.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{32, 12}, {182, 60}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{182, 60}</string>
			<key>spriteSourceSize</key>
			<string>{250, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{806, 580}, {182, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-start-selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{32, 12}, {182, 60}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{182, 60}</string>
			<key>spriteSourceSize</key>
			<string>{250, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{622, 580}, {182, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-tryagain-normal.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {248, 84}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{248, 84}</string>
			<key>spriteSourceSize</key>
			<string>{250, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{502, 88}, {248, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-tryagain-selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {248, 84}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{248, 84}</string>
			<key>spriteSourceSize</key>
			<string>{250, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{752, 2}, {248, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-viewvideo-normal.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {230, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{230, 72}</string>
			<key>spriteSourceSize</key>
			<string>{230, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 774}, {230, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-viewvideo-selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {230, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{230, 72}</string>
			<key>spriteSourceSize</key>
			<string>{230, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{252, 432}, {230, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-world-normal.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{192, 72}</string>
			<key>spriteSourceSize</key>
			<string>{192, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{234, 774}, {192, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn-world-selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {192, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{192, 72}</string>
			<key>spriteSourceSize</key>
			<string>{192, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{678, 432}, {192, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>