<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>arrow.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 12}</string>
			<key>spriteSourceSize</key>
			<string>{68, 12}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 479}, {68, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>branch.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {134, 84}}</string>
			<key>spriteOffset</key>
			<string>{-12, 1}</string>
			<key>spriteSize</key>
			<string>{134, 84}</string>
			<key>spriteSourceSize</key>
			<string>{158, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{816, 2}, {134, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>circle_angle.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {130, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{130, 130}</string>
			<key>spriteSourceSize</key>
			<string>{130, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{353, 322}, {130, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fly.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {80, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{80, 36}</string>
			<key>spriteSourceSize</key>
			<string>{80, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{353, 454}, {80, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monus_00.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{36, 6}, {62, 122}}</string>
			<key>spriteOffset</key>
			<string>{3, -3}</string>
			<key>spriteSize</key>
			<string>{62, 122}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{301, 198}, {62, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monus_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 6}, {86, 118}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{86, 118}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{365, 198}, {86, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monus_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 5}, {104, 106}}</string>
			<key>spriteOffset</key>
			<string>{-1, 6}</string>
			<key>spriteSize</key>
			<string>{104, 106}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{669, 296}, {104, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monus_03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 7}, {116, 102}}</string>
			<key>spriteOffset</key>
			<string>{1, 6}</string>
			<key>spriteSize</key>
			<string>{116, 102}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{687, 404}, {116, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monus_04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {122, 104}}</string>
			<key>spriteOffset</key>
			<string>{1, 7}</string>
			<key>spriteSize</key>
			<string>{122, 104}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{631, 190}, {122, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monus_10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{36, 10}, {62, 118}}</string>
			<key>spriteOffset</key>
			<string>{3, -5}</string>
			<key>spriteSize</key>
			<string>{62, 118}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{453, 198}, {62, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monus_11.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 12}, {86, 112}}</string>
			<key>spriteOffset</key>
			<string>{-3, -4}</string>
			<key>spriteSize</key>
			<string>{86, 112}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{581, 308}, {86, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monus_12.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 27}, {104, 84}}</string>
			<key>spriteOffset</key>
			<string>{-1, -5}</string>
			<key>spriteSize</key>
			<string>{104, 84}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{581, 422}, {104, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monus_13.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 38}, {116, 70}}</string>
			<key>spriteOffset</key>
			<string>{1, -9}</string>
			<key>spriteSize</key>
			<string>{116, 70}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{612, 118}, {116, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monus_14.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 38}, {122, 70}}</string>
			<key>spriteOffset</key>
			<string>{1, -9}</string>
			<key>spriteSize</key>
			<string>{122, 70}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{488, 120}, {122, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sapus_00.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 9}, {108, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{108, 114}</string>
			<key>spriteSourceSize</key>
			<string>{124, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{706, 2}, {108, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sapus_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 9}, {126, 110}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{126, 110}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{816, 88}, {126, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sapus_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 9}, {122, 114}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{122, 114}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{582, 2}, {122, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sapus_03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 11}, {112, 114}}</string>
			<key>spriteOffset</key>
			<string>{1, -4}</string>
			<key>spriteSize</key>
			<string>{112, 114}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{517, 192}, {112, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sapus_04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 1}, {92, 116}}</string>
			<key>spriteOffset</key>
			<string>{-2, 5}</string>
			<key>spriteSize</key>
			<string>{92, 116}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{488, 2}, {92, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>score.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 8}, {80, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{80, 34}</string>
			<key>spriteSourceSize</key>
			<string>{108, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{435, 454}, {80, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>speed_angle.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {134, 122}}</string>
			<key>spriteOffset</key>
			<string>{3, 8}</string>
			<key>spriteSize</key>
			<string>{134, 122}</string>
			<key>spriteSourceSize</key>
			<string>{140, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{165, 198}, {134, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sprite1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 2}, {94, 124}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{94, 124}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{485, 318}, {94, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ufo_00.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {349, 155}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{349, 155}</string>
			<key>spriteSourceSize</key>
			<string>{349, 155}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 322}, {349, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ufo_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {321, 194}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{321, 194}</string>
			<key>spriteSourceSize</key>
			<string>{321, 194}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{165, 2}, {321, 194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ufo_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {161, 318}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{161, 318}</string>
			<key>spriteSourceSize</key>
			<string>{161, 318}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {161, 318}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
	</dict>
</dict>
</plist>